.App-categories {
    position: relative;
    height: calc(100vh - 240px);
}

.App-category {
    max-height: 50%;
    overflow: hidden;
    position: relative;
}

.App-category-front-image {
    width: 100%;
    display: block;
}

.App-category-title {
    z-index: 100;
    font-size: 28px;
    color: black;
    position: absolute;
    top: 20%;
    text-transform: uppercase;
}